@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

.core {
  --color-fd-primary: var(--core-color);
}

.protocol {
  --color-fd-primary: var(--protocol-color);
}

:root {
  --core-color: hsl(220, 91%, 54%);
  --protocol-color: hsl(220, 91%, 54%);
}

body {
    overscroll-behavior-y: none;
}

.dark {
    --core-color: hsl(220 91% 54%);
    --protocol-color: hsl(217 92% 76%);
}
