@import 'tailwindcss';
@import 'fumadocs-ui/css/black.css';
@import 'fumadocs-ui/css/preset.css';

:root {
    --cli-color: hsl(250, 80%, 54%);
    --protocol-color: hsl(220, 91%, 54%);
}

body {
    overscroll-behavior-y: none;
}

.dark {
    --cli-color: hsl(250 100% 80%);
    --protocol-color: hsl(217 92% 76%);
}

.protocol {
    --color-fd-primary: var(--protocol-color);
}

.cli {
    --color-fd-primary: var(--cli-color);
}
